body {
  background-color: peru;
}

.btn {
  cursor: pointer;
}
.clicked {
  color: #7f8c8d;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}

@keyframe fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
.weather {
  display: flex;
  width: 180px;
  height: 40px;
  background-color: #867ae9;
  border: 2px solid pink;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.js-weather {
  color: black;
}

.js-clock {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  font-size: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  justify-content: center;
}
.list__todo,
.list__finish {
  width: 400px;
  height: 300px;
  margin: 100px 100px 0px 100px;
  border-radius: 30px;
  background-color: rgba(74, 80, 61, 0.3);
}

@keyframes userName {
  from {
    transform: translateX(50px);
  }

  to {
    transform: scaleZ(10);
  }
}

.user-name {
  display: flex;
  justify-content: center;
}

.user-name h4 {
  font-size: 30px;
}

.user-name h4:hover {
  cursor: pointer;
  animation: userName 1s ease-in-out;
}

input::placeholder {
  color: pink;
}
